.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 .5rem;
}

.mainContent {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  padding-bottom: 0;
}

.header {
  max-width: 100%;
}
