
.main {
  color: #fff;
}

.title {
  margin: 2rem 0 2rem;
  font-size: 1.5rem;
  color: #C69C76;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .15rem;
}

.logo {
  width: 100%;
}

.cover {
  max-height: 25rem;
  margin-bottom: 1rem;
  width: 100%;
}

.teaser {
  font-weight: 700;
}
