.logo {
  width: 100%;
}

.cover {
  height: 0;
  margin-bottom: 1rem;
  padding-bottom: 56.25%;
  width: 100%;
}

.coverImage {
  height: 100%;
  width: 100%;
}

.coverVideo {
  display: block;
  height: 100%;
  margin: 0 auto;
  max-width: 100%;
}

.teaser {
  font-weight: 700;
}

.link {
  color: inherit;
}
