.cover {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.coverMedia {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.coverVideo {
  background-color: black;
}
