Reset your password
========================
Hi {{firstName}}
<br /><br />
It looks like you've lost your password.
So here's a link so you can reset your password
<br /><br />
<a href="{{authTokenUrl}}">{{authTokenUrl}}</a>
