@import '../../../node_modules/normalize.css/normalize.css';
@import './SvgEncoding.scss';
@import './SvgBG.scss';

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: initial;
}

html {
  // `overflow-x: hidden` needs to be here as flexbox-grid otherwise will add a
  // vertical scrollbar when it has full width.
  overflow-x: hidden;
  height:100%;
}

body,
html {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  min-height:100%;
}

body {
  background-image: icon(lowPolyBg);
  background-color: #222;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: white;
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 .5rem;
  max-width: 70rem;
  margin: 0 auto;
}

.contentWrap {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  padding-bottom: 0;
}

.content {
  flex-grow: 1;
}
