$svgEncoding: (
  '%': '%25',
  '"': '\'',
  '<': '%3C',
  '>': '%3E',
  '#': '%23',
  '&': '%26'
);

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}

@function icon($key, $color1: $colorIconDefault, $color2: $colorIconDefault, $color3: $colorIconDefault, $map: $icons) {
  $svg: map-get($map, $key);
  $svg: str-replace($svg, 'color1', $color1);
  $svg: str-replace($svg, 'color2', $color2);
  $svg: str-replace($svg, 'color3', $color3);
  @each $unEncoded, $encoded in $svgEncoding {
    $svg: str-replace($svg, $unEncoded, $encoded);
  }
  @return url('data:image/svg+xml,#{$svg}');
}
